<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    
    <title></title>
    
    <link href="http://v3.fencingarchive.net/assets/bootstrap/bootstrap-3.1.1-dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="http://v3.fencingarchive.net/assets/style/fencingarchive.css" rel="stylesheet">
    <link href="http://v3.fencingarchive.net/assets/style/teamgb.css" rel="stylesheet">
    <link href="http://v3.fencingarchive.net/assets/socicon/socicon.css" rel="stylesheet">
    <link href="http://fencingarchive.net/fonts/fencing/fencing.css" rel="stylesheet">
    
	<script src="http://v3.fencingarchive.net/assets/jquery/js/jquery-1.11.0.min.js"></script>
	<script type="text/javascript" src="http://v3.fencingarchive.net/assets/jquery/js/jquery.xpath.js"></script>
	<script src="http://v3.fencingarchive.net/assets/bootstrap/bootstrap-3.1.1-dist/js/bootstrap.min.js"></script>
    <script src="//d3js.org/d3.v3.min.js"></script>
    
    <script src="http://mattcarus.co.uk/track.js" type="text/javascript"></script>
</head>

<body role="document">

    <!-- Fixed navbar -->
    <div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
      <div class="container-fluid">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="http://fencingarchive.net/"><i class="icon-three-arms"></i>FencingArchive</a>
        </div>
        
        <div class="navbar-collapse collapse">
          <form class="navbar-form navbar-right" role="form" onSubmit="var pageUrl='http://v3.fencingarchive.net/search/' + encodeURI($('#searchTerm').val()); window.location=pageUrl; return false;">
            <div class="form-inline form-group">
              <input type="text" placeholder="Search" class="form-control typeahead" id="searchTerm">
            </div>
            <button type="submit" class="btn btn-success"><span class="glyphicon glyphicon-search"></span></button>
          </form>
          <p class="nav navbar-nav navbar-right" style="text-align: center; margin-top: 8px; margin-bottom: 8px;">&nbsp;&nbsp;<a href="https://twitter.com/share?text=#fencingarchive:&url={{ url }}"><span class="socicon">a</span></a>
            &nbsp;&nbsp;<a href="http://www.facebook.com/sharer.php?u={{ url }}"><span class="socicon">b</span></a>
            &nbsp;&nbsp;<a href="https://plus.google.com/share?hl=en-GB&url={{ url }}"><span class="socicon">c</span></a>&nbsp;&nbsp;</p>
          
        </div><!--/.nav-collapse -->
      </div>
    </div>
    
    <div class="container theme-showcase" role="main">

      <div class="page-header">
        <h1><span id="name"><!-- Competition Name --></span><span id="popularity"></span></h1>
      </div>
      <div class="row">
        <div class="col-sm-3">
          <div class="panel panel-default">
            <div class="panel-heading">
              <h3 class="panel-title">About</h3>
            </div>
            <div class="panel-body">
              <ul class="unstyled-list" id="about"><!-- Club List --></ul>
            </div>
          </div>
          <div style="text-align: center;">
			<script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
			<!-- fencingarchive.net Responsive -->
			<ins class="adsbygoogle"
			     style="display:block"
			     data-ad-client="ca-pub-3145321863445101"
			     data-ad-slot="8728452292"
			     data-ad-format="auto"></ins>
			<script>
			(adsbygoogle = window.adsbygoogle || []).push({});
			</script>
          </div>
        </div><!-- /.col-sm-4 -->
        <div class="col-sm-9">
          <table class="table table-striped" id="competition-results"><!-- Competition Results -->
            <tr><th>#</th><th>Fencer</th></tr>
          </table>
          <div style="text-align: center;">
			<script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
			<!-- fencingarchive.net Responsive -->
			<ins class="adsbygoogle"
			     style="display:block"
			     data-ad-client="ca-pub-3145321863445101"
			     data-ad-slot="8728452292"
			     data-ad-format="auto"></ins>
			<script>
			(adsbygoogle = window.adsbygoogle || []).push({});
			</script>
          </div>
          <!-- Disqus comments block -->
            <div id="disqus_thread"></div>
		    <script type="text/javascript">
		        /* * * CONFIGURATION VARIABLES: EDIT BEFORE PASTING INTO YOUR WEBPAGE * * */
		        var disqus_shortname = 'fencingarchive'; // required: replace example with your forum shortname
		
		        /* * * DON'T EDIT BELOW THIS LINE * * */
		        (function() {
		            var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
		            dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
		            (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
		        })();
		    </script>
		    <noscript>Please enable JavaScript to view the <a href="http://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
		    <a href="http://disqus.com" class="dsq-brlink">comments powered by <span class="logo-disqus">Disqus</span></a>
		  <!-- /disqus -->  
		</div>
      </div>
    </div> <!-- /container -->


  <div id="name"></div>
    <script>
	  $.ajax({
	    type: "GET",
		url: "http://api.fencingarchive.net/competition/{{ id }}"
	  }).done( function(xml){
		console.log("Loaded " + $(xml).find('name').text());
		
		$('#name').html($(xml).find('full_name').text());
		$('#about').append('<li>Category: ' + $(xml).find('category').text() + '</li>');
		$('#about').append('<li>Date: ' + $(xml).find('date').text() + '</li>');
		
		$(xml).find('results').find('node').each(function(){
			$('#competition-results').append('<tr><td>' + $(this).find('position').text() + '</td><td><a href="' + $(this).xpath('fencer/profile_url').text() + '">' + $(this).xpath('fencer/name').text() + '</a></td></tr>');
		
		
		});
	  });
    </script>
</body>
</html>