<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>

    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    
    <title></title>
    
    <link href="http://v3.fencingarchive.net/assets/bootstrap/bootstrap-3.1.1-dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="http://v3.fencingarchive.net/assets/style/fencingarchive.css" rel="stylesheet">
    <link href="http://v3.fencingarchive.net/assets/style/teamgb.css" rel="stylesheet">
    <link href="http://v3.fencingarchive.net/assets/socicon/socicon.css" rel="stylesheet">
    <link href="http://fencingarchive.net/fonts/fencing/fencing.css" rel="stylesheet">
    
    <link href="http://v3.fencingarchive.net/assets/style/timeline.css" rel="stylesheet">
	
	<script src="http://v3.fencingarchive.net/assets/jquery/js/jquery-1.11.0.min.js"></script>
	<script type="text/javascript" src="http://v3.fencingarchive.net/assets/jquery/js/jquery.xpath.js"></script>
	<script src="http://v3.fencingarchive.net/assets/bootstrap/bootstrap-3.1.1-dist/js/bootstrap.min.js"></script>
    <script src="//d3js.org/d3.v3.min.js"></script>

	<script src='http://mattcarus.co.uk/track.js' type="text/javascript"></script>
</head>

<body role="document">

    <!-- Fixed navbar -->
    <div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
      <div class="container-fluid">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="http://fencingarchive.net/">FencingArchive</a>
        </div>
        
        <div class="navbar-collapse collapse">
          <form class="navbar-form navbar-right" role="form" onSubmit="var pageUrl='http://v3.fencingarchive.net/search/' + $('#searchTerm').val(); window.location=pageUrl; return false;">
            <div class="form-inline form-group">
              <input type="text" placeholder="Search" class="form-control typeahead" id="searchTerm">
            </div>
            <button type="submit" class="btn btn-success"><span class="glyphicon glyphicon-search"></span></button>
          </form>
          <p class="nav navbar-nav navbar-right" style="text-align: center; margin-top: 8px; margin-bottom: 8px;">&nbsp;&nbsp;<a href="https://twitter.com/share?text=#fencingarchive:&url={{ url }}"><span class="socicon">a</span></a>
            &nbsp;&nbsp;<a href="http://www.facebook.com/sharer.php?u={{ url }}"><span class="socicon">b</span></a>
            &nbsp;&nbsp;<a href="https://plus.google.com/share?hl=en-GB&url={{ url }}"><span class="socicon">c</span></a>&nbsp;&nbsp;</p>
          
        </div><!--/.nav-collapse -->
      </div>
    </div>
    
    <div class="container theme-showcase" role="main">

      <div class="page-header">
        <h1><span id="name"><!-- Fencer Name --></span></h1>
      </div>
      <div class="row">
        <div class="col-sm-3">
          <div class="well">
              <img class="img-responsive img-rounded" alt="..." id="fencer_image" />
          </div>
          <div class="panel panel-default">
            <div class="panel-heading">
              <h3 class="panel-title">Clubs</h3>
            </div>
            <div class="panel-body">
              <ul class="unstyled-list" id="club_list"><!-- Club List --></ul>
            </div>
          </div>
          <div class="panel panel-default">
            <div class="panel-heading">
              <h3 class="panel-title">Current Ranking</h3>
            </div>
            <div class="panel-body">
              <ul class="unstyled-list" id="ranking_list"><!-- Ranking List --></ul>
            </div>
          </div>
          <div class="panel panel-default">
            <div class="panel-heading">
              <h3 class="panel-title">Similar Fencers</h3>
            </div>
            <div class="panel-body" id="similar_fencers">
            </div>
          </div>
          <div style="text-align: center;">
			<script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
			<!-- fencingarchive.net Responsive -->
			<ins class="adsbygoogle"
			     style="display:block"
			     data-ad-client="ca-pub-3145321863445101"
			     data-ad-slot="8728452292"
			     data-ad-format="auto"></ins>
			<script>
			(adsbygoogle = window.adsbygoogle || []).push({});
			</script>
          </div>
        </div><!-- /.col-sm-3 -->
        <div class="col-sm-9">
          <!-- Timeline (http://bootsnipp.com/snippets/featured/timeline-responsive) -->
          <div style="text-align: center;">
			<script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
			<!-- fencingarchive.net Responsive -->
			<ins class="adsbygoogle"
			     style="display:block"
			     data-ad-client="ca-pub-3145321863445101"
			     data-ad-slot="8728452292"
			     data-ad-format="auto"></ins>
			<script>
			(adsbygoogle = window.adsbygoogle || []).push({});
			</script>
          </div>         
            <ul class="timeline" id="fencer-timeline">
            </ul>
          <div style="text-align: center;">
			<script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
			<!-- fencingarchive.net Responsive -->
			<ins class="adsbygoogle"
			     style="display:block"
			     data-ad-client="ca-pub-3145321863445101"
			     data-ad-slot="8728452292"
			     data-ad-format="auto"></ins>
			<script>
			(adsbygoogle = window.adsbygoogle || []).push({});
			</script>
          </div>
		</div>
      </div>
      
      
    </div> <!-- /container -->


  <div id="name"></div>
    <script>
	  $.ajax({
	    type: "GET",
		url: "http://api.fencingarchive.net/fencer/{{ id }}"
	  }).done( function(xml){
		console.log("Loaded " + $(xml).find('name').text());
		
		$('#name').html('<br />' + $(xml).find('surname').text() + ', ' + $(xml).find('forename').text() + ' (' + $(xml).find('nationality').text() + ')');

		$(xml).find('clubs').find('node').each(function(){
		  $('#club_list').append('<li><a href="http://v3.fencingarchive.net/club/' + $(this).find('id').text() + '">' + $(this).find('name').text() + '</a></li>');
		});
		
		$('#fencer_image').attr('src', $(xml).find('image_url').text());

		$('#ranking_list').append('<li>ELO:' + $(xml).find('elo').text() + '</li>');

		$i = 0;
		$(xml).find('results').find('node').each(function(){
			  if ( $i%2 ) { alignment = 'right' } else { alignment = 'left' }
			  
			  competitionName = $(this).find('name').text() + ' ' + $(this).find('category').text() + ' (' + $(this).find('weapon').text() + ')';
			  competitionName = $(this).find('full_name').text();
			  
			  var content = '<table class="table"><tr><th>Bout</th></tr>';
			  $.ajax({
				    type: "GET",
					url: "http://api.fencingarchive.net/bouts/{{ id }}/" + $(this).find('cid').text()
				  }).done( function() {
					  content += '<tr><td>Test</td></tr>';
					  console.log('here!!!');
					  $(this).find('bout').each(function() {
						  
						  console.log($(this).find('winner').find('fencer').find('name').text());
						  content += '<tr><td>vs. ' + $(this).find('winner').find('fencer').find('name').text() + '</td></tr>';
					  });
				  });
			  content += '</table>';
			  
			  addTimelineElement(
					  	$(this).find('cid').text(),
					  	alignment,
					  	'#fencer-timeline',
					  	competitionName,
					  	$(this).find('position').text(),
					  	content,
					  	$(this).find('date').text(),
					  	'glyphicon-check'
			  );
			  $i++;
			}
		);
	  });

	  $.ajax({
		    type: "GET",
			url: "http://api.fencingarchive.net/query/closeFencers/{{ id }}"
		  }).done( function(xml){
			$(xml).find('node').each(function() {
				$.ajax({
				    type: "GET",
					url: "http://api.fencingarchive.net/fencer/" + $(this).text()
				}).done( function (fencer) {
					$('#similar_fencers').append('<div class="well" style="text-align: center;"><a href="' + $(fencer).find('profile_url').text() + '"><img src="' + $(fencer).find('image_url').text() + '" class="img-responsive img-rounded" /><br />' + $(fencer).xpath('/fencer/name').text() + '</a></div>');
				})
				
			});
		  });

	  function addTimelineElement(id, alignment, element, heading, position, content, timeago, glyphicon)
	  {
		  colour = 'default';
		  icon = '';
		  if ( position == '1' ) { colour = 'gold'; icon = ' icon-cup' }
		  if ( position == '2' ) { colour = 'silver'; icon = ' icon-cup' }
		  if ( position == '3' ) { colour = 'bronze'; icon = ' icon-cup' }

		  var timelineAlignment = '';
		  if ( alignment == 'right' )
		  {
			  timelineAlignment = ' class="timeline-inverted"';
		  }
		  
		  var timelineHtml = '<li' + timelineAlignment + '><div class="timeline-badge ' + colour + '"><span class="glyphicon' + icon + '" style="vertical-align: middle; line-height: 50px;"></span></div><div class="timeline-panel"><div class="timeline-heading"><table><tr><td><span style="font-size: 60px">' + position + '</span></td><td><span style="font-size: 20px"><a href="http://v3.fencingarchive.net/competition/' + id + '">' + heading + '</a></span><br /><small class="text-muted"><i class="glyphicon glyphicon-calendar"></i> ' + timeago + '</small></td></tr></table></div><div class="timeline-body">' + content + '</div></div></li>';
		  
		  
	      $('#fencer-timeline').append(timelineHtml);
	  }

    </script>
</body>
</html>
