<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    
    <title></title>
    
    <link href="http://v3.fencingarchive.net/assets/bootstrap/bootstrap-3.1.1-dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="http://v3.fencingarchive.net/assets/style/fencingarchive.css" rel="stylesheet">
    <link href="http://v3.fencingarchive.net/assets/style/teamgb.css" rel="stylesheet">
    <link href="http://v3.fencingarchive.net/assets/socicon/socicon.css" rel="stylesheet">
    <link href="http://fencingarchive.net/fonts/fencing/fencing.css" rel="stylesheet">
    
    <link href='//fonts.googleapis.com/css?family=Yanone+Kaffeesatz:300,400,200,500,700' rel='stylesheet' type='text/css'>
    
	<script src="http://v3.fencingarchive.net/assets/jquery/js/jquery-1.11.0.min.js"></script>
	<script src="http://v3.fencingarchive.net/assets/bootstrap/bootstrap-3.1.1-dist/js/bootstrap.min.js"></script>
    <script src="//d3js.org/d3.v3.min.js"></script>
    <script src="http://v3.fencingarchive.net/assets/typeahead/typeahead.bundle.min.js"></script>
    
    <script src="http://mattcarus.co.uk/track.js" type="text/javascript"></script>
    
</head>

<body role="document">

    <!-- Fixed navbar -->
    <div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
      <div class="container-fluid">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="http://fencingarchive.net/"><i class="icon-epee-grip-french"></i>FencingArchive</a>
        </div>
        
        <div class="navbar-collapse collapse">
          <form class="navbar-form navbar-right" role="form" onSubmit="var pageUrl='http://v3.fencingarchive.net/search/' + $('#searchTerm').val(); window.location=pageUrl; return false;">
            <div class="form-inline form-group">
              <input type="text" placeholder="Search" class="form-control typeahead" id="searchTerm">
            </div>
            <button type="submit" class="btn btn-success"><span class="glyphicon glyphicon-search"></span></button>
          </form>
          <p class="nav navbar-nav navbar-right" style="text-align: center; margin-top: 8px; margin-bottom: 8px;">&nbsp;&nbsp;<a href="https://twitter.com/share?text=#fencingarchive:&url={{ url }}"><span class="socicon">a</span></a>
            &nbsp;&nbsp;<a href="http://www.facebook.com/sharer.php?u={{ url }}"><span class="socicon">b</span></a>
            &nbsp;&nbsp;<a href="https://plus.google.com/share?hl=en-GB&url={{ url }}"><span class="socicon">c</span></a>&nbsp;&nbsp;</p>
          
        </div><!--/.nav-collapse -->
      </div>
    </div>
    
    <div class="container theme-showcase" role="main">

	  <div class="page-header">
        <h1><span id="name"><!-- Competition Name --></span><span id="popularity"></span></h1>
      </div>
      
      <div class="row">
      
        <div class="col-sm-12 text-center hidden-xs">
          <script type="text/javascript">
			google_ad_client = "ca-pub-3145321863445101";
			google_ad_slot = "2379948764";
			google_ad_width = 728;
			google_ad_height = 90;
		  </script>
		  <script type="text/javascript" src="http://pagead2.googlesyndication.com/pagead/show_ads.js"></script>
        </div><!-- /hidden-xs -->
        
        <div class="col-sm-12 text-center visible-xs">
          <script type="text/javascript">
            google_ad_client = "ca-pub-3145321863445101";
            google_ad_slot = "5404189499";
            google_ad_width = 234;
            google_ad_height = 60;
          </script>
		  <script type="text/javascript" src="http://pagead2.googlesyndication.com/pagead/show_ads.js"></script>
        </div><!-- /visible-xs -->

      </div>

      <div class="row">

        <div class="container-fluid" id="recentCompPanels">
        </div>      

      </div><!-- /.row -->
      
    </div> <!-- /container -->

    <script>
	  $.ajax({
		    type: "GET",
			url: "http://api.fencingarchive.net/query/lastNCompetitionLinks/12",
			crossDomain: true
		  }).done( function(xml){
			$(xml).find('node').each( function() {
			  $('#competitions').append("<li>" + $(this).text() + "</li>");
			})
		  });
	  
	  var panelCount = 1;
	  $.ajax({
		    type: "GET",
			url: "http://api.fencingarchive.net/query/lastNCompetitionIds/12",
			crossDomain: true
		  }).done( function(xml){
			$(xml).find('node').each( function() {
			  $.ajax({
				  type: "GET",
				  url: "http://api.fencingarchive.net/competition/" + $(this).text()
			  }).done( function(compXml){
				  compDiv = '';
				  
				  if ( panelCount % 4 == 0 ) {
					  compDiv += '<div class="row">';
				  }
				  
				  compDiv += '<div class="col-sm-3"><div class="panel panel-default"><div class="panel-heading">';
				  compDiv += '<h3 class="panel-title"><a href="http://v3.fencingarchive.net/competition/' + $(compXml).find('cid').text() + '">' + $(compXml).find('full_name').text() + '</a><small><br />' + $(compXml).find('date').text() + '</small></h3>';
				  compDiv += '</div><div class="panel-body">';
				  
				  compDiv += '1. ' + $(compXml).find("results").find("node").filter(function() {
					  return $(this).find('position').text() == "1";
				  }).find("fencer_name").text() + '<br />';
				  
				  compDiv += '2. ' + $(compXml).find("results").find("node").filter(function() {
					  return $(this).find('position').text() == "2";
				  }).find("fencer_name").text() + '<br />';
				  
				  compDiv += '3. ' + $(compXml).find("results").find("node").filter(function() {
					  return $(this).find('position').text() == "3";
				  }).find("fencer_name").text() + '<br />';
				  
				  compDiv += '<p class="text-right"><a href="http://v3.fencingarchive.net/competition/' + $(compXml).find('cid').text() + '">Full Results</a></p></div></div></div>';
				  
				  if ( panelCount % 4 == 0 ) {
					  compDiv += '</div>';
				  }
				  
				  $('#recentCompPanels').append(compDiv);
				  panelCount++;
			  })
				
			})
		  });
	  
	  $.ajax({
		    type: "GET",
			url: "http://api.fencingarchive.net/twitter/profile",
			crossDomain: true
		  }).done( function(xml){
			  $('#screen_name').append('@' + $(xml).find('screen_name').text());
		  });
		
		  
	  $.ajax({
		    type: "GET",
			url: "http://api.fencingarchive.net/twitter/status",
			crossDomain: true
		  }).done( function(xml){
			$(xml).find('node').each( function() {
				$(this).find('text').each(function () {
				  $('#twitter').append("<li>" + $(this).text() + "</li>");
			    })
			})
		  });
	  
	  var fencingArchiveSearch = new Bloodhound({
		  datumTokenizer: Bloodhound.tokenizers.obj.whitespace('page_url'),
		  queryTokenizer: Bloodhound.tokenizers.whitespace,
		  remote: {
			  url: 'http://api.fencingarchive.net/search/%QUERY', 
			  filter: function(list) {
				  var searchObj = [];
				  $.each(list.hits.hits, function (key, value) {
					console.log(value._source);
					searchObj.push(value._source);
				  });
				  console.log(searchObj);
				  return searchObj;
			  }
		  }
		});
	  
	  fencingArchiveSearch.initialize();
	  
/*
	  fencingArchiveSearch
	  .done(function() { console.log('BloodHound - Success!'); })
	  .fail(function() { console.log('BloodHound - Err!'); });
*/

	  $(".typeahead").typeahead(null, {
	      name: "typeahead",
	      displayKey: "page_name",
	      source: fencingArchiveSearch.ttAdapter()
	    });
	  
    </script>

</body>
</html>
