@CHARSET "ISO-8859-1";

.bronze {
	background-color: #8C7853 !important;
}

.silver {
	background-color: #E6E8FA !important;
}

.gold {
	background-color: #CFB53B !important;
}

.search-listing-image {
	height: 48px;
	width:  auto;
}